#style-btn{
    position: fixed;
    top: 1%;
    right: 1%;
    width: 2.5%;
}

#panels {
    width: 90%;
    height: 90%;
}

#list-panel {
    float: left;
    width: 25%;
    height: 100%;
}

#chat-panel {
    float: right;
    width: 73%;
    height: 100%;
}

.panel-body {
    height: 90%;
    overflow: auto;
}

#list-panel, #chat-panel {
    background-color: rgba(255, 255, 255, 0.6);
    transition: 0.5s background-color;
}

#list-panel:hover, #chat-panel:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#list-panel-heading {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    height: 49px;
}

#avatar-link {
    width: 2em;
    height: 2em;
}

#avatar {
    width: 2em;
    height: 2em;
    vertical-align: middle;
}

.list-avatar-div{
    width: 15%;
}

.list-avatar{
    width: 2em;
    height: 2em;
    vertical-align: middle;
    cursor: pointer;
}

.list-nickname{
    width: 80%;
    cursor: default;
}

#list-table{
    width: 100%;
    font-size: 0.5em;
    border-spacing: 0 0.5em;
}

#chat-panel-body-table {
    width: 100%;
    height: 100%;
}

#dialog-area-row {
    width: 100%;
    height: 50%;
}

#dialog-area-cell {
    padding-bottom: 2.5%;
}

#dialog-area {
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
}

#dialog-textarea {
    width: 100%;
    height: 70%;
    resize: none;
    overflow: auto;
    font-size: 14px;
    font-family: '宋体', serif;

}

#dialog-textarea-row {
    height: 20%;
}

#dialog-submit-btn {
    float: right;
    margin-top: 1%;
}

#dialog-area, #dialog-textarea, #control-bar {
    background-color: rgba(255, 255, 255, 0.75);
}

#message-table{
    font-size: 0.75em;
    border-spacing: 1em 1em;
    width: 100%;
}

.message-avatar-div{
    width: 5%;
}

.message-avatar{
    width: 2em;
    height: 2em;
}

.message-nickname{
    width: 10%;
    text-align: center;
}

.colon{
    width: 0.5%;
}

.message{
    text-align: justify;
}

.message-time{
    width: 5em;
    font-size: x-small;
    color: gray;
}

#control-bar-row {
    height: 5%;
}

#control-bar {
    margin-bottom: 0;
    padding: 0 0.5em;
    min-height: 0;
    background-color: #337ab7;
    border: none;
}

#control-bar .btn {
    border: none;
}


#background-upload-control{
    margin-left:auto;
    margin-right:auto;
    font-size: 0.75em;
    border: solid 1px gray;
    border-radius: 0.25em;
    box-shadow: gray 0 0 2px;
    padding: 0.5em 1em;
}

#background-upload-progress-bar-div{
    margin-top: 1em;
}

#background-upload-progress-bar{
    transition: 0.25s width;
}

#current-avatar-div{
    display: inline-block;
    width: 40%;
    text-align: center;
}

#current-avatar{
    width: 4em;
    height: 4em;
}

#avatar-upload-control-div{
    display: inline-block;
}

#avatar-upload-control{
    font-size: 0.75em;
}

.modify-info-modal-alert{
    width: 100%;
}

#new-info-div{
    margin-top: 1em;
    text-align: center;
}

#new-nickname{
    display: inline-block;
    width: 50%;
    margin-right: 10%
}

#new-age{
    display: inline-block;
    width: 15%;
}

#new-gender{
    display: inline-block;
    width: 15%;
}

#message-length-span{
    display: inline-block;
    font-size: 0.75em;
    margin-top: 0.5em;
    transition: 0.25s background-color;
}

.tooltip-inner{
    text-align: left;
}