body {
    font-size: 20px;
    font-family: "Noto Sans CJK SC Regular", "微软雅黑", sans-serif;
    background-size: cover;
}

.container{
    display: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-center {
    text-align: center;
}

.label-block {
    display: block;
}

button, input[type=submit] {
    transition: 0.25s background-color;
}

.no-margin {
    margin: 0;
}

.table-display {
    display: table;
}

.table-row-display {
    display: table-row;
}

.table-cell-display {
    display: table-cell;
}

.middle {
    vertical-align: middle;
}

.modal-title {
    text-align: center;
    font-size: larger;
}

.modal-alert {
    font-size: 0.75em;
}

.rotate {
    transition: 0.5s transform;
}

.rotate:hover {
    transform: rotate(360deg);
}

.modify_alert {
    z-index: 1051;
    box-shadow: gray 2px 2px 4px;
}

.popover-title {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.popover {
    border-color: #337ab7;
}